<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<header th:replace="student/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <header th:replace="student/header::header-nav"></header>

  <header th:replace="student/sidebar::sidebar-fragment(${path})"></header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <h1 class="m-0">首页</h1>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="card-header">
          <h3 class="card-title">信息一览</h3>
        </div> <!-- /.card-body -->
        <div class="row" style="margin-top: 40px;border-top:0px;">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 th:text="${courseCount}">0</h3>

                <p>选课总数</p>
              </div>
              <div class="icon">
                <i class="fa fa-pencil-square-o"></i>
              </div>
              <a th:href="@{/student/select}" class="small-box-footer">More info <i
                      class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 th:text="${credit}">0</h3>

                <p>学分总计</p>
              </div>
              <div class="icon">
                <i class="fa fa-list-alt"></i>
              </div>
              <a th:href="@{/student/select}" class="small-box-footer">More info <i
                      class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3 >0</h3>

                <p>新增课件</p>
              </div>
              <div class="icon">
                <i class="fa fa-comments"></i>
              </div>
              <a th:href="@{/student/select}" class="small-box-footer">More info <i
                      class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>

      </div><!-- /.container-fluid -->
      <div class="card-header">
        <h3 class="card-title">选课一览</h3>
      </div> <!-- /.card-body -->
      <div class="row" >
        <div class="col-md-3 col-sm-6 col-12 mt-3" th:each="course:${courses}">
          <div class="info-box shadow" th:onclick="|toCourseware(${course.getCourseId()})|">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
              <span class="info-box-text" th:text="${course.getCourseName()}">高等数学(III)</span>
              <span class="info-box-number" th:text="${course.getIntro()}">必修</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/student/select.js}"></script>
</body>
</html>
