<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="teacher/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <header th:replace="teacher/header::header-nav"></header>

    <header th:replace="teacher/sidebar::sidebar-fragment(${path})"></header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">课程</h1>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">我的课程</h3>
                </div>
                <!-- /.card-header -->
                <div class="alert alert-info alert-dismissible" th:if="${coursewareErrMsg}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-info"></i> 注意!</h5>
                    <div th:text="${coursewareErrMsg}">这是一条警告，由查看课件跳转</div>
                </div>
                <div class="card-body">
                    <!-- JqGrid必要DOM,用于创建表格展示列表数据 -->
                    <table id="jqGrid" class="table table-bordered"></table>
                    <!-- JqGrid必要DOM,分页信息区域 -->
                    <div id="jqGridPager"></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
    </div>
    <!-- /.content-wrapper -->



</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<!-- jqgrid -->
<script th:src="@{../plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{../plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
<script th:src="@{../dist/js/teacher/course.js}"></script>
</body>
</html>